//color

$orange: #fe7e51;
$blue: #263d53;
$green: #009099;
$grey: #46515e;
$yellow: #f9de61;

//Config

*,
body {
  font-family: 'Ropa Sans', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

//tansition_hover

@mixin hover_ui($time, $bcolor, $fcolor) {
  transition-property: all;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-duration: $time;
  background: $bcolor;
  color: $fcolor;
}


///Buttone styles
.btnPrimary{
  border-radius: 27px;
  font-size: 1.4em;
  letter-spacing: 0.08em;
  font-weight: 400;
  border: 0;
  margin-top: 1em;
  @include hover_ui(350ms, $orange, #fff);
  position: absolute;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1.14em;
  &::before{
    content: '';
    position: absolute;
    display: flex;
    width: 0%;
    height: 100%;
    background: $green;
    transition: width .3s;
  }
  &:hover{
    &::before{
      width: 100%;
      transition: width .3s;
    }
  }
  &:focus{
    @include hover_ui(500ms, transparent, $orange);
    &::before{
      width: 0%;
      transition: width .3s;
    }
  }
  span{
    position: relative;
  }
  @media only screen and (max-width: 768px) {
    left: 1em;
  }
}